<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Shichuan Deng's Homepage</title>
        <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script-->
        <!--script src="https://unpkg.com/browse/vue@3.1.5/dist/vue.runtime.global.prod.js"></script-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3.1.5/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        <link href="style.css" rel="stylesheet">
        <link href="favicon.png" rel="icon">
    </head>
    <body>
        <!--template for papers-->
        <script type="text/x-template" id="paper-template">
            <li class="list-group-item">
                <div class="titleField">
                    <span class="paperTitle">
                        {{paper.title}}</span>&nbsp;
                    <span class="paperAuthors">
                        {{paper.authors}}</span>
                </div>
                <div class="abstractField">
                    <span class="paperConference">
                        {{paper.conference}}</span>&nbsp;
                    <button class="btn btn-outline-primary btn-sm" 
                        type="button" 
                        @click="toggleName"
                        data-bs-toggle="collapse" 
                        :data-bs-target="'#'+paper.paperID" 
                        aria-expanded="false" 
                        :aria-controls="paper.paperID">
                        {{ text }}
                    </button>
                </div>
                <div class="collapse" :id="paper.paperID">
                    <div class="paperAbstract" 
                        v-html="paper.abstract">
                    </div>
                </div>
            </li>
        </script>
        <!--template for photos-->
        <script type="text/x-template" id="photo-template">
            <div class="accordion-item">
                <h2 class="accordion-header" :id="photo.photoID+'Header'">
                    <button class="accordion-button collapsed" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        :data-bs-target="'#'+photo.photoID+'Body'" 
                        aria-expanded="false" 
                        :aria-controls="photo.photoID+'Body'">
                        {{photo.caption}}
                    </button>
                </h2>
                <div :id="photo.photoID+'Body'" 
                    class="accordion-collapse collapse" 
                    :aria-labelledby="photo.photoID+'Body'">
                    <div class="accordion-body">
                        <a :href="photo.mapLink">
                            <img :src="photo.photoLink" 
                                class="img-thumbnail img-fluid" 
                                :alt="photo.altText">
                        </a>                
                    </div>
                </div>
            </div>
        </script>

        <!--the navigation bar-->
        <div id="navBar" class="fixed" style="background-color: white;">
            <div class="pageTitle" :style="titleStyle">
                Shichuan Deng's Homepage
            </div>
            <div class="emailAddress" :style="emailStyle" v-show="l2<0.95">
                moleculecloud at gmail dot com
            </div>
            <hr class="styled_hr" :style="hrStyle">
        </div>
        <div style="height:100px">&nbsp;</div>

        <!--the 1st lead paragraph-->
        <p class="lead">I like combinatorial optimization, approximation algorithms, and the design and analysis of algorithms.</p>
        <p class="lead">I got my B.E. from Tsinghua University (China) in 2015.</p>
        <p class="lead">My publications.</p>
        <!--the container of papers-->
        <ul id="papers" class="list-group">
            <paper-item v-for="paper in paperList"
                :paper="paper"
                :key="paper.paperID"></paper-item>
        </ul>

        <!--the 2nd lead paragraph-->
        <p class="lead">Some random photos.</p>
        <!--the photos I took-->
        <div class="accordion" id="photos" style="margin:20px">
            <photo-item v-for="photo in photoList"
                :photo="photo"
                :key="photo.photoID"></photo-item>
        </div>

        <!--the ending quote, ahh yes, daft punk-->
        <figure class="text-end" style="margin: 20px;">
            <blockquote class="blockquote">
                <p>Hold on, if love is the answer you're home.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Daft Punk. "Touch." <cite title="Random Access Memories">Random Access Memories.</cite> Columbia, 2013.
            </figcaption>
        </figure>

        <script>
            // the app on the paper list
            const appPaper = Vue.createApp({
                data() {
                    return { paperList: [
                        {title: "Generalized Unrelated Machine Scheduling Problem",
                        authors: "Shichuan Deng, Jian Li, Yuval Rabani", conference: "Preprint, 2022", paperID: "glb",
                        abstract: "We study the generalized load-balancing (GLB) problem, where we are given \$n\$ \
                            jobs, each of which needs to be assigned to one of \$m\$ unrelated machines with \
                            processing times $\\{p_{ij}\\}$. Under a job assignment $\\sigma$, the load of \
                            each machine $i$ is $\\psi_i(\\boldsymbol{p}_{i}[\\sigma])$ where \
                            $\\psi_i:\\mathbb{R}^n\\rightarrow\\mathbb{R}_{\\geq0}$ is a symmetric monotone norm \
                            and $\\boldsymbol{p}_{i}[\\sigma]$ is the $n$-dimensional vector $\\{p_{ij}\\cdot \
                            \\boldsymbol{1}[\\sigma(j)=i]\\}_{j\\in [n]}$. Our goal is to minimize the generalized \
                            makespan $\\phi(\\mathsf{load}(\\sigma))$, where \
                            $\\phi:\\mathbb{R}^m\\rightarrow\\mathbb{R}_{\\geq0}$ is another symmetric monotone \
                            norm and $\\mathsf{load}(\\sigma)$ is the $m$-dimensional machine load vector. \
                            This problem significantly generalizes many classic optimization problems, \
                            e.g., makespan minimization, set cover, minimum-norm load-balancing, etc.<br> \
                            We obtain a polynomial time randomized algorithm that achieves an \
                            approximation factor of $O(\\log n)$, matching the lower bound of set cover up \
                            to constant factor. We achieve this by rounding a novel configuration LP \
                            relaxation with exponential number of variables. To approximately solve the \
                            configuration LP, we design an approximate separation oracle for its dual \
                            program. In particular, the separation oracle can be reduced to the norm \
                            minimization with a linear constraint (NormLin) problem and we devise a \
                            polynomial time approximation scheme (PTAS) for it, which may be of independent \
                            interest.",
                        },
                        {title: "On clustering with discounts",
                        authors: "Shichuan Deng", conference: "Information Processing Letters, 2022", paperID: "discountedMedian",
                        abstract: "We study the $k$-median with discounts problem, wherein we are given clients \
                            with non-negative discounts and seek to open at most $k$ facilities. \
                            The goal is to minimize the sum of distances from each client to its nearest \
                            open facility which is discounted by its own discount value, with minimum contribution \
                            being zero. \
                            We obtain a bi-criteria constant-factor approximation using an iterative LP rounding algorithm. \
                            Our result improves the previously best approximation guarantee for $k$-median with discounts \
                            [Ganesh&nbsp;<i>et&nbsp;al.</i>, ICALP'21]. \
                            We also devise bi-criteria constant-factor approximation algorithms for the matroid and knapsack \
                            versions of median clustering with discounts."},
                        {title: "Constant approximation for fault-tolerant median problems via iterative rounding",
                        authors: "Shichuan Deng", conference: "Operations Research Letters (forthcoming), 2022", paperID: "faultMedian",
                        abstract: "In this paper, we study the <i>fault-tolerant matroid median</i> and \
                            <i>fault-tolerant knapsack median</i> problems. \
                            These two problems generalize many fundamental clustering and facility location problems, \
                            such as uniform fault-tolerant $k$-median, uniform fault-tolerant facility location, \
                            matroid median, knapsack median, etc. \
                            We present a versatile iterative rounding framework and obtain a unifying constant-factor \
                            approximation algorithm.",},
                        {title: "Ordered $k$-median with outliers and fault-tolerance",
                        authors: "Shichuan Deng, Qianfan Zhang", conference: "Submitted, 2022", paperID: "orderedOutliers",
                        abstract: "In this paper, we study <i>robust ordered $k$-median</i> and <i>fault-tolerant ordered $k$-median</i> as two novel \
                            generalizations of the <i>ordered $k$-median</i> problem. In ordered $k$-median, given a finite metric space $(X,d)$, \
                            we seek to open a set of $k$ facilities $S\\subseteq X$ which induces a <i>service cost vector</i> $\\vec{c}=\\{d(j,S):j\\in X\\}$, \
                            and minimize the objective $w^\\top\\vec{c}^\\downarrow$. Here $d(j,S)=\\min_{i\\in S}d(j,i)$ is the minimum distance between \
                            $j$ and open facilities in $S$, $w\\in\\mathbb{R}^{|X|}$ is a predefined non-increasing non-negative vector, and $\\vec{c}^\\downarrow$ \
                            is the non-increasingly sorted version of $\\vec{c}$. The current best result for ordered $k$-median is a $(5+\\epsilon)$-approximation \
                            [Chakrabarty and Swamy, STOC&nbsp;2019].<br> \
                            We first consider robust ordered $k$-median, also known as ordered $k$-median with outliers, where the input consists \
                            of an ordered $k$-median instance and an additional parameter $m\\in\\mathbb{Z}_+$. The goal is to open $k$ facilities $S$, \
                            select $m$ clients $T\\subseteq X$ and assign the nearest open facility to each client $j\\in T$. In this case, the service \
                            cost vector is $\\vec{c}=\\{d(j,S):j\\in T\\}$, the vector $w$ is in $\\mathbb{R}^m$, and the objective is $w^\\top\\vec{c}^\\downarrow$. \
                            We introduce a novel yet simple objective function that enables linear analysis of the non-linear ordered objective, apply an \
                            iterative rounding framework [Krishnaswamy&nbsp;<i>et&nbsp;al.</i>, STOC&nbsp;2018] and obtain a constant-factor approximate solution. We then \
                            devise the first constant-factor approximation algorithms for <i>ordered matroid median</i> and <i>ordered knapsack median</i> \
                            using the same method.<br> \
                            We also consider the fault-tolerant ordered $k$-median problem, where besides the same input as standard ordered $k$-median, \
                            we are also given additional client <i>requirements</i> $\\{r_j\\in\\mathbb{Z}_+:j\\in X\\}$ and need to assign $r_j$ distinct open \
                            facilities to each client $j\\in X$. The service cost of $j$ is the sum of distances to its assigned facilities, and the objective \
                            is still $w^\\top\\vec{c}^\\downarrow$. We obtain a constant-factor approximation algorithm using a novel LP relaxation with \
                            constraints created via a new sparsification technique.",},
                        {title: "Generalized load balancing and clustering problems with norm minimization",
                        authors: "Shichuan Deng", conference: "Preprint, 2020", paperID: "maximumNorm",
                        abstract: "In many fundamental combinatorial optimization problems, a feasible solution induces some real <i>cost vectors</i> as an \
                            intermediate result, and the optimization objective is a certain function of the vectors. For example, in the problem of \
                            <i>makespan minimization on unrelated parallel machines</i>, a feasible job assignment induces a vector containing the \
                            sizes of assigned jobs for each machine, and the goal is to minimize the $L_\\infty$ norm of $L_1$ norms of the vectors. \
                            Another example is <i>fault-tolerant $k$-center</i>, where each client is connected to multiple open facilities, thus \
                            having a vector of distances to these facilities, and the goal is to minimize the $L_\\infty$ norm of $L_\\infty$ norms of \
                            these vectors.<br> \
                            In this paper, we study the <i>maximum of norm</i> problem. Given an arbitrary symmetric monotone norm $f$, the objective \
                            is defined as the <i>maximum</i> ($L_\\infty$ norm) <i>of $f$-norm</i> values of the induced cost vectors. This versatile \
                            formulation captures a wide variety of problems, including makespan minimization, fault-tolerant $k$-center and many others. \
                            We give concrete results for load balancing on unrelated parallel machines and clustering problems, including constant-factor \
                            approximation algorithms when $f$ belongs with a certain rich family of norms, and $O(\\log n)$-approximations when $f$ is \
                            general and satisfies some mild assumptions.<br> \
                            We also consider the aforementioned problems in a generalized fairness setting. As a concrete example, the insight is to \
                            prevent a scheduling algorithm from assigning <i>too many</i> jobs consistently on any machine in a job-recurring scenario, \
                            and causing the machine's controller to fail. Our algorithm needs to stochastically output a feasible solution minimizing \
                            the objective function, and satisfy the given marginal fairness constraints.",},
                        {title: "Approximation algorithms for clustering with dynamic points",
                        authors: "Shichuan Deng, Jian Li, Yuval Rabani", conference: "ESA 2020", paperID: "dynamicClustering",
                        abstract: "In many classic clustering problems, we seek to sketch a massive data set of $n$ points \
                            (a.k.a <i>clients</i>) in a metric space, by segmenting them into $k$ categories or clusters, \
                            each cluster represented concisely by a single point in the metric space (a.k.a. the cluster's \
                            <i>center</i> or its <i>facility</i>). \
                            The goal is to find such a sketch that minimizes some objective that depends on the \
                            distances between the clients and their respective facilities \
                            (the objective is a.k.a. the <i>service cost</i>). \
                            Two notable examples are the $k$-center/$k$-supplier problem where the objective is to \
                            minimize the maximum distance from any client to its facility, and the $k$-median \
                            problem where the objective is to minimize the sum over all clients of the distance \
                            from the client to its facility.<br> \
                            In practical applications of clustering, the data set may evolve over time, reflecting \
                            an evolution of the underlying clustering model. Thus, in such applications, a good \
                            clustering must simultaneously represent the temporal data set well, but also not \
                            change too drastically between time steps. In this paper, we initiate the study of a \
                            dynamic version of clustering problems that aims to capture these considerations. In \
                            this version there are $T$ time steps, and in each time step $t\\in\\{1,2,\\dots,T\\}$, the set of clients \
                            needed to be clustered may change, and we can move the $k$ facilities \
                            between time steps. The general goal is to minimize certain combinations \
                            of the service cost and the \
                            facility movement cost, or minimize one subject to some constraints on the other. \
                            More specifically, we study two concrete problems in this framework: \
                            the <i>Dynamic Ordered $k$-Median</i> and the <i>Dynamic $k$-Supplier</i> problem. \
                            Our technical contributions are as follows: \
                            <ul> \
                                <li>We consider the Dynamic Ordered $k$-Median problem, where \
                                the objective is to minimize the weighted sum of ordered distances over all time steps, \
                                plus the total cost of moving the facilities between time steps. We present one constant-factor \
                                approximation algorithm for $T=2$ and another approximation algorithm for fixed $T\\geq3$. \
                                </li> \
                                <li>We consider the Dynamic $k$-Supplier problem, where the objective is to minimize the maximum distance \
                                    from any client to its facility, subject to the constraint that between time steps the maximum distance \
                                    moved by any facility is no more than a given threshold. \
                                    When the number of time steps $T$ is 2, we present a simple constant \
                                    factor approximation algorithm and a bi-criteria constant factor approximation algorithm for the outlier \
                                    version, where some of the clients can be discarded. We also show that it is NP-hard to approximate the \
                                    problem with any factor for $T\\geq3$. \
                                </li> \
                            </ul>",}
                    ]}
                }
            })
            // the component of each paper
            appPaper.component('paper-item', {
                template: '#paper-template',
                props: ['paper'],
                data() {
                    return {
                        text: "Abstract",
                        state: "paused",
                        visible: false
                    }
                },
                methods: {
                    toggleName(e) {
                        let flag = e.target.ariaExpanded
                        this.text = flag === "true" ? "Hide" : "Abstract"
                    }
                }
            })
            appPaper.mount("#papers")

            // the app on the photo list
            const appPhoto = Vue.createApp({
                data() {
                    return {
                        photoList: [
                            {photoID: "JerusalemSoccer", photoLink: "IMG_2437.jpeg",
                            mapLink: "https://goo.gl/maps/Qx2B4fmexLGuV5yi9", altText: "children playing soccer",
                            caption: "A soccer game near the Western Wall, Jerusalem in 2019."}, 
                            {photoID: "CUHKCat", photoLink: "IMG_2325.jpeg",
                            mapLink: "https://goo.gl/maps/2Jv4juTwp8z9q6sc8", altText: "cat sleeping on the sidewalk",
                            caption: "A sleepy cat at CUHK, Hong Kong in 2019."}, 
                            {photoID: "KyotoPavilion", photoLink: "IMG_1288.jpeg",
                            mapLink: "https://goo.gl/maps/DPESWiFJd4utfH6g7", altText: "staying at a pavilion near the peak",
                            caption: "A hot summer afternoon at Uji, Kyoto in 2018."}
                        ]
                    }
                }
            })
            // the component of each photo
            appPhoto.component('photo-item', {
                template: '#photo-template',
                props: ['photo']
            })
            appPhoto.mount('#photos')

            // the app on the navigation bar
            const appBar = Vue.createApp({
                data() {
                    return {
                        titleSizeUpper: 32,
                        titleSizeLower: 16,
                        emailSizeUpper: 16,
                        emailSizeLower: 1,
                        opacityUpper: 1,
                        opacityLower: 0,
                        marginUpper: 8,
                        marginTopLower: 4,
                        marginBottomLower: 0,
                        emailVisible: "block",
                        emailHeightUpper: 24,
                        emailHeightLower: 0,
                        l1: 1,
                        l2: 0
                    }
                },
                created () {
                    window.addEventListener('DOMContentLoaded', this.handleScroll);
                    window.addEventListener('scroll', this.handleScroll);
                },
                destroyed () {
                    window.removeEventListener('DOMContentLoaded', this.handleScroll);
                    window.removeEventListener('scroll', this.handleScroll);
                },
                computed: {
                    titleStyle() {
                        return {
                            'font-size': (this.l1*this.titleSizeUpper+this.l2*this.titleSizeLower) +'px'
                        }
                    },
                    emailStyle() {
                        return {
                            /*'font-size': (this.l1*this.emailSizeUpper+this.l2*this.emailSizeLower) + 'px',*/
                            'font-size': this.emailSizeUpper + 'px',
                            opacity: this.l1*this.opacityUpper+this.l2*this.opacityLower,
                            height: (this.l1*this.emailHeightUpper+this.l2*this.emailHeightLower) + 'px'
                        }
                    },
                    hrStyle() {
                        return {
                            'margin-top': (this.l1*this.marginUpper+this.l2*this.marginTopLower) + 'px',
                            'margin-bottom': (this.l1*this.marginUpper+this.l2*this.marginBottomLower) + 'px',
                        }
                    }
                },
                methods: {
                    handleScroll: _.throttle(function(event) {
                        this.l2 = Math.min(Math.max(window.scrollY-79, 0), 40)/40
                        this.l1 = 1-this.l2
                    })
                }
            })
            appBar.mount("#navBar")
        </script>

        <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              },
              svg: {
                fontCache: 'global'
              }
            };
        </script>
        <script type="text/javascript" id="MathJax-script" async
              src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
        </script>
    </body>
</html>
