.fixed {
    text-align: center;
    padding-top: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.emailAddress {
    font-family: 'Courier New', Courier, monospace;
}

.titleField {
    margin-bottom: 5px;
}

.paperTitle {
    font-weight: bold;
    font-size: 20px;
}

.paperAuthors {
    font-size: 16px;
    font-style: italic;
}

.paperConference {
    font-size: 16px;
}

.paperAbstract {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.lead {
    margin: 20px;
    font-size: 24px;
}

.styled_hr {
    border: 0;
    height: 2px;
    background: black;
    background-image: -webkit-linear-gradient(left, white, black, white);
    background-image: -moz-linear-gradient(left, white, black, white);
    background-image: -ms-linear-gradient(left, white, black, white);
    background-image: -o-linear-gradient(left, white, black, white);
}

ul.list-group {
    margin-left: 20px; 
    margin-right: 20px;
}